*{
    margin: 0%;
    box-sizing: border-box;
   
}

.navbar{
    background-color:#f48484;

    
}
.navbar-brand{
    width: 8%;

}

.nav-link{
    color: white !important;
    font-weight: bold;
    font-size: 17px;
}

.bgimg{
    background-image:url(images/welcome.png);
    width: auto;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.heading{
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 50px;
}

.htbn{
    font-weight: bold important;

}
.fa-bars{
    color: white;
}

/* about */
.mainhead{
    color: rgb(239, 19, 19);
    font-size: 45px;
}
.hist{
    color: coral;
    text-decoration: underline 1px solid gold;
}
.apara{
    color: green;
    line-height: 30px;
}


.d-block{
    aspect-ratio: 3/2;
    width: 50%;
}
.card-img-top{
    aspect-ratio: 2/3;
}

.card-title{
    color:brown;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
.card-text{
    color: #fc3e1c;
    text-align: center;
}


/* payment */

#basic-addon1{
    background-color: #f48484;
    color: aliceblue;
    font-weight: bold;
    border: none;
}


.form-label{
    color: #f48484;
    font-weight: bold;
}


.footer{
    background-color:#f48484;

}

.carousel-item{
    width: 80%;
    
}


.carousel-item img{
    width:90vw;
    height: 90vh;
}
